<div class="widget-wrapper" fxLayout="column">
  <div class="toolbar" fxLayout="row">
    <div fxFlex>
      <span>Assets evolution</span>
    </div>
    <div>
      <!-- <mat-form-field class="date-input">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      <input [matDatepicker]="picker" style="width: 0; height: 0; padding: 0; margin: 0; border: none;">
      <mat-datepicker #picker></mat-datepicker>
      <button mat-icon-button (click)="picker.open()">
        <mat-icon>date_range</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <ngx-charts-line-chart *ngIf="LOADED" [results]="DATA" [view]="VIEW" [customColors]="GRID_CONFIG.colorScheme"
    [gradient]="GRID_CONFIG.gradient" [xAxis]="GRID_CONFIG.showXAxis" [yAxis]="GRID_CONFIG.showYAxis" [legend]="GRID_CONFIG.showLegend"
    [showXAxisLabel]="GRID_CONFIG.showXAxisLabel" [yAxisTickFormatting]="GRID_CONFIG.yFormat" [showYAxisLabel]="GRID_CONFIG.showYAxisLabel"
    [yAxisLabel]="GRID_CONFIG.yAxisLabel" [animations]="GRID_CONFIG.animations" [autoScale]="GRID_CONFIG.autoScale"
    (select)="onSelect($event)"></ngx-charts-line-chart>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>
