<div class="accounts-wrapper">
  <div class="accounts-top" fxLayout="column">
    <div class="tile" fxLayout="grow row" style="vertical-align: middle;">
      <mat-icon style="margin-right: 5px; margin-top: 3px; color:var(--primary-color)">help</mat-icon>
      <h4 class="disclaimer">
        {{ 'EXCHANGES.DISCLAIMER' | translate: lang }}
      </h4>
    </div>
    <div fxLayout="row">
      <div class="tile" fxFlex>
        <mat-accordion>
          <mat-expansion-panel #topPanel [expanded]="ACCOUNTS.data.length === 0">
            <mat-expansion-panel-header>
              <mat-panel-title class="title">
                {{ 'EXCHANGES.ADD.TITLE' | translate: lang }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form fxLayout="column" class="add-account-form" [formGroup]="addFormGroup">
              <mat-form-field color="primary">
                <mat-select placeholder="{{'EXCHANGES.ADD.SELECTOR' | translate: lang }}" required formControlName="exchangeSelection"
                  [errorStateMatcher]="matcher">
                  <mat-option *ngFor="let exchange of EXCHANGES" [value]="exchange">
                    <span>{{ exchange.name }}</span>
                    <img style="float: right; margin-top: 10px; max-width: 20px; max-height: 20px;" src="/src/assets/exchanges/logos/logo_{{exchange.name.toLowerCase()}}.png"
                      alt="{{exchange.name}}" required>
                  </mat-option>
                </mat-select>
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                <mat-error *ngIf="addFormGroup.get('exchangeSelection').hasError('required')">You must select an exchange</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput [placeholder]="'EXCHANGES.ADD.INPUT_NAME' | translate: lang" name="account"
                  autocomplete="new-password" required formControlName="accountName" [errorStateMatcher]="matcher">
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                <mat-error *ngIf="addFormGroup.get('accountName').hasError('required')">You must name your account</mat-error>
                <mat-error *ngIf="addFormGroup.get('accountName').hasError('pattern') && !addFormGroup.get('accountName').hasError('required')">
                  Your account name is invalid
                </mat-error>
              </mat-form-field>
              <div fxLayout="column">
                <mat-form-field>
                  <input matInput formControlName="publicKey" [placeholder]="'EXCHANGES.ADD.INPUT_PUBLIC' | translate: lang"
                    name="public" autocomplete="new-password" required>
                  <mat-error *ngIf="addFormGroup.get('publicKey').hasError('required')">You must provide a public api key</mat-error>
                  <mat-error *ngIf="addFormGroup.get('publicKey').hasError('pattern') && !addFormGroup.get('publicKey').hasError('required')">
                    Your public key is invalid
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="privateKey" [placeholder]="'EXCHANGES.ADD.INPUT_PRIVATE' | translate: lang"
                    type="password" name="private" autocomplete="new-password" required>
                  <mat-error *ngIf="addFormGroup.get('privateKey').hasError('required')">You must provide a private api key</mat-error>
                  <mat-error *ngIf="addFormGroup.get('privateKey').hasError('pattern') && !addFormGroup.get('privateKey').hasError('required')">
                    Your private key is invalid
                  </mat-error>
                </mat-form-field>
              </div>
            </form>
            <mat-action-row>
              <button mat-flat-button (click)="createAccount('test')" [disabled]="!addFormGroup.valid">Save</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel #botPanel [expanded]="ACCOUNTS.data.length > 0">
            <mat-expansion-panel-header>
              <mat-panel-title class="title">
                {{ 'EXCHANGES.EDIT.TITLE' | translate: lang }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- <mat-card class="title" *ngIf="LOADED && ACCOUNTS.data.length > 0">{{ 'EXCHANGES.EDIT.TITLE' | translate: lang
          }}</mat-card> -->
            <app-cb-data-table #dataTable *ngIf="LOADED && ACCOUNTS.data.length > 0" [CONFIG]="ACCOUNTS"></app-cb-data-table>
            <mat-card *ngIf="LOADED && ACCOUNTS.data.length === 0">{{ 'EXCHANGES.EDIT.NO_ACCOUNTS' | translate: lang }}</mat-card>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
      <!-- <div class="tile" fxFlex>
        <h3 class="title">{{ 'EXCHANGES.EDIT.TITLE' | translate: lang }}</h3> -->
      <!-- <app-cb-data-table *ngIf="LOADED && ACCOUNTS.data.length > 0" [CONFIG]="ACCOUNTS"></app-cb-data-table>
        <mat-card *ngIf="LOADED && ACCOUNTS.data.length === 0">{{ 'EXCHANGES.EDIT.NO_ACCOUNTS' | translate: lang }}</mat-card> -->
      <!-- </div> -->
    </div>
  </div>
</div>


<!-- Cell generic text Template -->
<ng-template #textTemplate let-row="row" let-col="col">
  <div class="defaultCell">
    {{ row[col] }}
  </div>
</ng-template>

<!-- Cell generic dateText Template -->
<ng-template #dateTextTemplate let-row="row" let-col="col">
  <div class="defaultCell">
    {{ row[col] | date: 'dd/MM/yyyy' }}
  </div>
</ng-template>


<!-- Cell generic button Template -->
<ng-template #buttonTemplate let-row="row" let-col="col">
  <div class="defaultCell">
    <button mat-flat-button>{{ row[col] }}</button>
  </div>
</ng-template>

<!-- Cell generic slider Template -->
<ng-template #sliderTemplate let-row="row" let-col="col">
  <div class="defaultCell">
    <mat-slide-toggle color="primary" [checked]="row[col]"></mat-slide-toggle>
  </div>
</ng-template>

<!-- Cell right icons Template -->
<ng-template #iconRightsTemplate let-row="row" let-col="col">
  <div class="defaultCell">
    <mat-icon aria-label="read" class="icons-cell" [matTooltip]="'GRID.CELL.RIGHTS.TOOLTIP.READ' | translate: lang">visibility</mat-icon>
    <mat-icon aria-label="read" class="icons-cell" [matTooltip]="'GRID.CELL.RIGHTS.TOOLTIP.TRADE' | translate: lang"
      [ngClass]="{'disabled': row[col] < 2}">swap_horiz</mat-icon>
    <mat-icon aria-label="read" class="icons-cell" [matTooltip]="'GRID.CELL.RIGHTS.TOOLTIP.WITHDRAW' | translate: lang"
      [ngClass]="{'disabled': row[col] < 3}">account_balance_wallet</mat-icon>
  </div>
</ng-template>


<!-- Cell delete icon Template -->
<ng-template #iconButtonTemplate let-row="row" let-col="col">
  <button mat-icon-button>
    <mat-icon aria-label="delete" (click)="delete(row)">delete</mat-icon>
  </button>
</ng-template>
