<div class="accounts-wrapper">
  <div class="accounts-top" fxLayout="column">
    <div class="tile" fxLayout="grow row" style="vertical-align: middle;">
      <mat-icon style="margin-right: 5px; margin-top: 3px; color:var(--primary-color)">help</mat-icon>
      <h4 class="disclaimer">
        {{ 'EXCHANGES.DISCLAIMER' | translate: lang }}
      </h4>
    </div>
    <div fxLayout="row">
      <div class="tile" fxFlex>
        <h3 class="title">{{ 'EXCHANGES.ADD.TITLE' | translate: lang }}</h3>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let exchange of EXCHANGES" [expanded]="exchange.name === 'KRAKEN'">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ exchange.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column">
              <form>
                <mat-form-field class="genericBlackFormField">
                  <input matInput [(ngModel)]="accountName" [placeholder]="'EXCHANGES.ADD.INPUT_NAME' | translate: lang" name="public" autocomplete="new-password">
                </mat-form-field>
                <mat-form-field class="genericBlackFormField">
                  <input matInput [(ngModel)]="publicKey" [placeholder]="'EXCHANGES.ADD.INPUT_PUBLIC' | translate: lang" name="public" autocomplete="new-password">
                </mat-form-field>
                <mat-form-field class="genericBlackFormField">
                  <input matInput [(ngModel)]="privateKey" [placeholder]="'EXCHANGES.ADD.INPUT_PRIVATE' | translate: lang" type="password" name="private"
                    autocomplete="new-password">
                </mat-form-field>
              </form>
            </div>
            <mat-action-row>
              <button mat-flat-button (click)="createAccount(exchange.name)">Save</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="tile" fxFlex>
        <h3 class="title">{{ 'EXCHANGES.EDIT.TITLE' | translate: lang }}</h3>
        <app-cb-data-table *ngIf="LOADED && ACCOUNTS.data.length > 0" [CONFIG]="ACCOUNTS"></app-cb-data-table>
        <mat-card *ngIf="LOADED && ACCOUNTS.data.length === 0">{{ 'EXCHANGES.EDIT.NO_ACCOUNTS' | translate: lang }}</mat-card>
      </div>
    </div>
  </div>
</div>


<!-- Cell generic text Template -->
<ng-template #textTemplate let-row="row" let-col="col">
  <div class="defaultCell">
    {{ row[col] }}
  </div>
</ng-template>

<!-- Cell generic dateText Template -->
<ng-template #dateTextTemplate let-row="row" let-col="col">
  <div class="defaultCell">
    {{ row[col] | date: 'dd/MM/yyyy' }}
  </div>
</ng-template>

<!-- Cell generic button Template -->
<ng-template #buttonTemplate let-row="row" let-col="col">
  <div class="defaultCell">
    <button mat-flat-button>{{ row[col] }}</button>
  </div>
</ng-template>

<!-- Cell generic slider Template -->
<ng-template #sliderTemplate let-row="row" let-col="col">
  <div class="defaultCell">
    <mat-slide-toggle [checked]="row[col]"></mat-slide-toggle>
  </div>
</ng-template>

<!-- Cell delete icon Template -->
<ng-template #iconButtonTemplate let-row="row" let-col="col">
  <button mat-icon-button>
    <mat-icon aria-label="delete" (click)="delete(row)">delete</mat-icon>
  </button>
</ng-template>
