<div class="mat-elevation-z8" style="margin: 5px;">
  <table mat-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
    <!-- Columns -->
    <ng-container *ngFor="let col of columns" [matColumnDef]="col">
      <th mat-header-cell *matHeaderCellDef> {{ 'GRID.HEADER.' + col | translate: lang }} </th>
      <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
