.mat-nav-list {
  padding-top: 0px;
}

.mat-nav-list .mat-list-item {
  color: white !important;
  font-weight: lighter;
  border-left: 3px solid transparent;
}

.mat-nav-list .mat-list-item:hover {
  /* border-left: 3px solid rgb(12, 165, 12); */
  background-color: var(--primary-color-light);
}

.active {
  /* border-left: 3px solid rgb(12, 165, 12) !important; */
  background-color: var(--primary-color);
}

mat-icon {
  margin-right: 5px;
}
