.mat-nav-list {
  padding-top: 0px;
}

.mat-nav-list .mat-list-item {
  color: white !important;
}

.mat-nav-list .mat-list-item:hover {
  border-right: 3px solid rgb(12, 165, 12);
}

.active {
  border-right: 3px solid rgb(12, 165, 12);
}

mat-icon {
  margin-right: 5px;
}
