<div class="settings-wrapper" fxLayout="column">
  <div class="settings-top">
    <div class="tile" fxFlex fxLayout="column">
      <div class="settings-application-header">
        <h3>Application settings</h3>
      </div>
      <div class="settings-application-content">
        <mat-button-toggle-group #group="matButtonToggleGroup" class="lang-select" [value]="lang">
          <mat-button-toggle value="lang" disabled>
            Language
            <!-- <mat-icon>translate</mat-icon> -->
          </mat-button-toggle>
          <mat-button-toggle value="en" (click)="selectLocale('en', 'en_US', 'USD')">
            EN
          </mat-button-toggle>
          <mat-button-toggle value="fr" (click)="selectLocale('fr', 'fr_FR', 'EUR')">
            FR
          </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-button-toggle-group #group="matButtonToggleGroup" class="lang-select" [value]="false">
          <mat-button-toggle value="lang" disabled>
            Remember me
            <!-- <mat-icon>translate</mat-icon> -->
          </mat-button-toggle>
          <mat-button-toggle [value]="true" >
            Yes
          </mat-button-toggle>
          <mat-button-toggle [value]="false" >
            No
          </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-button-toggle-group #group="matButtonToggleGroup" class="lang-select" [value]="false">
            <mat-button-toggle value="lang" disabled>
              Newsletter
              <!-- <mat-icon>translate</mat-icon> -->
            </mat-button-toggle>
            <mat-button-toggle [value]="true" >
              Yes
            </mat-button-toggle>
            <mat-button-toggle [value]="false" >
              No
            </mat-button-toggle>
          </mat-button-toggle-group>
      </div>
    </div>
  </div>
  <div class="settings-top">
    <div class="tile" fxFlex fxLayout="row">
      <h3>bot</h3>
    </div>
    <div class="tile" fxFlex fxLayout="row">
      <h3>bot</h3>
    </div>
  </div>
</div>
