<div class="widget-wrapper" fxLayout="column">
  <div class="toolbar" fxLayout="row">
    <div fxFlex>
      <span>Accumulated view</span>
    </div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <ngx-charts-advanced-pie-chart *ngIf="LOADED" [results]="DATA" [valueFormatting]="formatValue" [view]="VIEW">
  </ngx-charts-advanced-pie-chart>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="switchCurrency()">
    <mat-icon>{{ otherCurrency.symbol }}</mat-icon>
    <span>{{ otherCurrency.label }}</span>
  </button>
</mat-menu>
