<div class="cryptobot-wrapper" fxLayout="row">
  <div class="cryptobot-left" fxFlex="50">
    <div class="tile" fxFlex fxLayout="row">
      <app-cb-data-table *ngIf="LOADED" [CONFIG]="TRANSFERS" style="width: 100%;"></app-cb-data-table>
    </div>
  </div>
  <div class="cryptobot-right" fxLayout="column" fxFlex="50">
    <div class="tile" fxFlex>
        <mat-tab-group>
            <mat-tab label="{{ 'CRYPTOBOT.TAB.GRAPH' | translate: lang }}">
                <ngx-charts-line-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="graph_line_single"
                [legend]="graph_line_legend"
                [xAxis]="graph_line_xAxis"
                [yAxis]="graph_line_yAxis"
              >
              </ngx-charts-line-chart>
            </mat-tab>
            <mat-tab label="{{ 'CRYPTOBOT.TAB.VALUE_EXCHANGE' | translate: lang }}">
                <app-cb-data-table *ngIf="LOADED_TABLE2" [CONFIG]="CRYPTO_LIST"></app-cb-data-table>
              Lisye des valleur que le bot a le droit d'acherée / vendre
            </mat-tab>
            <mat-tab label="{{ 'CRYPTOBOT.TAB.STATISTIC' | translate: lang }}">
                <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="graph_bar_single"
                [gradient]="graph_bar_gradient"
                [xAxis]="graph_bar_showXAxis"
                [yAxis]="graph_bar_showYAxis"
                [legend]="graph_bar_showLegend"
                [showXAxisLabel]="graph_bar_showXAxisLabel"
                [showYAxisLabel]="graph_bar_showYAxisLabel"
                [xAxisLabel]="graph_bar_xAxisLabel"
                [yAxisLabel]="graph_bar_yAxisLabel"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
              <br>
              Opérations total du bot.<br>
              Recap des action du bot (opétation dans les derniére heurs etc.)
            </mat-tab>

          </mat-tab-group>


    </div>
    <div class="tile" fxFlex>
        <div class="btnOptionCryptobot">
            <mat-slide-toggle
            [checked]=true
            color="primary">
          On / Off
        </mat-slide-toggle>
        </div>
        <div class="btnOptionCryptobot">
            <button mat-raised-button disabled aria-label="read" [matTooltip]="'CRYPTOBOT.TAB.STRATEGY.INFO' | translate: lang">
                {{ 'CRYPTOBOT.TAB.STRATEGY' | translate: lang }}
            </button>
        </div>
        <div class="btnOptionCryptobot">
          <button mat-raised-button disabled  aria-label="read" [matTooltip]="'CRYPTOBOT.TAB.CGU.INFO' | translate: lang">
            {{ 'CRYPTOBOT.TAB.CGU' | translate: lang }}
          </button>
        </div>
    </div>
  </div>
</div>

<!-- Cell basic template-->
<ng-template #testTemplate let-row="row" let-col="col">
  <div class="defaultCell">{{row[col]}}</div>
</ng-template>

<!-- Cell generic slider Template -->
<ng-template #sliderTemplate let-row="row" let-col="col">
    <div class="defaultCell">
      <mat-slide-toggle color="primary" [checked]="row[col]"></mat-slide-toggle>
    </div>
  </ng-template>

  <!-- Cell delete icon Template -->
<ng-template #iconButtonTemplate let-row="row" let-col="col">
    <button mat-icon-button>
      <mat-icon aria-label="delete" (click)="delete(row)">delete</mat-icon>
    </button>
  </ng-template>

  <!-- Cell right icons Template -->
<ng-template #iconStatTemplate let-row="row" let-col="col">
    <div class="defaultCell">
      <mat-icon *ngIf="row[col] == 0" color="primary" aria-label="read" class="icons-cell" [matTooltip]="'GLOBAL.CELL.ICON.CHECK' | translate: lang">check</mat-icon>
      <mat-icon *ngIf="row[col] == 1" color="primary" aria-label="read" class="icons-cell" [matTooltip]="'GLOBAL.CELL.ICON.TIME' | translate: lang">access_time</mat-icon>
      <mat-icon *ngIf="row[col] == 2" color="primary" aria-label="read" class="icons-cell" [matTooltip]="'GLOBAL.CELL.ICON.CANCEL' | translate: lang">cancel</mat-icon>
      <mat-icon *ngIf="row[col] == 3" color="primary" aria-label="read" class="icons-cell" [matTooltip]="'GLOBAL.CELL.ICON.WARNING' | translate: lang">warning</mat-icon>
    </div>
</ng-template>

  <!-- Graph line bar Template -->
<ng-template #graphbarline>
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [timeline]="timeline"
    (select)="onSelect($event)">
  </ngx-charts-line-chart>
</ng-template>
