<div class="cryptobot-wrapper" fxLayout="row">
  <div class="cryptobot-left" fxFlex>
    <div class="tile" fxFlex fxLayout="row">
      <app-cb-data-table *ngIf="LOADED" [CONFIG]="TRANSACTIONS"></app-cb-data-table>
    </div>
  </div>
  <div class="cryptobot-right" fxLayout="column" fxFlex>
    <div class="tile" fxFlex>
        <mat-tab-group>
            <mat-tab label="{{ 'CRYPTOBOT.TAB.GRAPH' | translate: lang }}">
              cette page représente un grapgique des écahnge en € réalisée par le bot
              graphique ici

            </mat-tab>
            <mat-tab label="{{ 'CRYPTOBOT.TAB.VALUE_EXCHANGE' | translate: lang }}">
                <app-cb-data-table *ngIf="LOADED_TABLE2" [CONFIG]="CRYPTO_LIST"></app-cb-data-table>
              Lisye des valleur que le bot a le droit d'acherée / vendre
              graphique ici 3
              coucou

            </mat-tab>
            <mat-tab label="{{ 'CRYPTOBOT.TAB.STATISTIC' | translate: lang }}">
              Opérations dans la derniére heur.<br>
              Opérations dans les dernére 24 heurs.<br>
              Opérations total du bot.<br>
              Recap des action du bot (opétation dans les derniére heurs etc.)
              graphique ici 2

            </mat-tab>

          </mat-tab-group>


    </div>
    <div class="tile" fxFlex>
        <div>
            <button mat-raised-button>Bot off</button>
            <span>Info ici mais egalement des description </span>
        </div>
        <div>
            <button mat-raised-button>Modal ?</button>
          <span>Choix de la tratégie de vente</span>
        </div>
        <div>
          <button mat-raised-button>Information</button>
          <span>Mention légale et législation</span>
        </div>
    </div>
  </div>
</div>

<!-- Cell basic template-->
<ng-template #testTemplate let-row="row" let-col="col">
  <div class="defaultCell">{{row[col]}}</div>
</ng-template>

<!-- Cell generic slider Template -->
<ng-template #sliderTemplate let-row="row" let-col="col">
    <div class="defaultCell">
      <mat-slide-toggle color="primary" [checked]="row[col]"></mat-slide-toggle>
    </div>
  </ng-template>

  <!-- Cell delete icon Template -->
<ng-template #iconButtonTemplate let-row="row" let-col="col">
    <button mat-icon-button>
      <mat-icon aria-label="delete" (click)="delete(row)">delete</mat-icon>
    </button>
  </ng-template>

  <!-- Cell right icons Template -->
<ng-template #iconStatTemplate let-row="row" let-col="col">
    <div class="defaultCell">
      <mat-icon *ngIf="row[col] == 0" color="primary" aria-label="read" class="icons-cell" [matTooltip]="'GLOBAL.CELL.ICON.CHECK' | translate: lang">check</mat-icon>
      <mat-icon *ngIf="row[col] == 1" color="primary" aria-label="read" class="icons-cell" [matTooltip]="'GLOBAL.CELL.ICON.TIME' | translate: lang">access_time</mat-icon>
      <mat-icon *ngIf="row[col] == 2" color="primary" aria-label="read" class="icons-cell" [matTooltip]="'GLOBAL.CELL.ICON.CANCEL' | translate: lang">cancel</mat-icon>
      <mat-icon *ngIf="row[col] == 3" color="primary" aria-label="read" class="icons-cell" [matTooltip]="'GLOBAL.CELL.ICON.WARNING' | translate: lang">warning</mat-icon>
    </div>
</ng-template>