.sidenav {
  color: white;
  background-color: var(--back-color);
  min-width: 225px;
  display: flex;
  flex-direction: column
}
.container {
  height: calc(100vh - 64px);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fafafa;
}

mat-progress-bar {
  visibility: hidden;
  margin-bottom: -5px;
}

.loading {
  visibility: visible;
}
