@import '~@angular/material/theming';
// always include only once per project
@include mat-core();
$app-green-primary: mat-palette($mat-green);
// Create the theme object (a Sass map containing all of the palettes).
$app-green-theme: mat-light-theme($app-green-primary, mat-palette($mat-grey), mat-palette($mat-amber));
@include angular-material-theme($app-green-theme);
@mixin mat-form-field-theme() {
    .mat-form-field {
        .mat-form-field-ripple,
        .mat-form-field-underline {
            background-color: #161616;
        }
        .mat-form-field-label,
        .mat-form-field-label,
        .mat-input-placeholder,
        .mat-form-field-placeholder,
        .mat-empty,
        .mat-form-field-empty {
            color: #161616;
        }
    }
    .genericWhiteFormField.mat-form-field {
        .mat-form-field-ripple,
        .mat-form-field-underline {
            background-color: #ffffff;
        }
        .mat-form-field-label,
        .mat-form-field-label,
        .mat-input-placeholder,
        .mat-form-field-placeholder,
        .mat-empty,
        .mat-form-field-empty {
            color: #ffffff;
        }
    }
    .genericBlackFormField.mat-form-field {
        .mat-form-field-ripple,
        .mat-form-field-underline {
            background-color: #000000;
        }
        .mat-form-field-label,
        .mat-form-field-label,
        .mat-input-placeholder,
        .mat-form-field-placeholder,
        .mat-empty,
        .mat-form-field-empty {
            color: #000000;
        }
    }
}

@mixin mat-input-theme() {
    .mat-input-element {
        caret-color: #ffffff;
        color: #ffffff;
    }
}

@mixin mat-button-theme() {
    .mat-raised-button {
        color: white;
        background-color: var(--primary-color);
        border-radius: 0px !important;
        text-transform: uppercase;
        font-weight: 400;
        padding-left: 30px !important;
        padding-right: 30px !important;
        font-size: 0.875rem;
    }
}

@mixin mat-dialog() {
  .customDialogContainer {
    .mat-dialog-container {
      padding: 0px !important;
    }
  }
}

@mixin ngx-chart() {
  .ngx-charts {

    .tooltip-anchor {
      fill: white !important;
    }

    .gauge {
      .background-arc{
        path {
          fill: white;
        }
      }
      .gauge-tick {
        path {
          stroke: white;
        }
        text {
          fill: white;
        }
      }
    }

    text{
        fill: #fff!important;
    }
  }

  .chart-legend {

    .legend-item {
      &:hover {
        color: #fff;
      }
    }

    .legend-label {
      &:hover {
        color: #fff !important;
      }

      .active {
        .legend-label-text {
          color: #fff !important;
        }
      }
    }
  }
}

@include mat-form-field-theme();
@include mat-input-theme();
@include mat-button-theme();
@include mat-dialog();
@include ngx-chart();
