<mat-toolbar class="top-nav" color="primary">
  <div class="left-nav">
    <span>{{ 'APP_NAME'| translate: lang }}</span>
  </div>
  <div class="middle-left-nav" fxFlex>
    <mat-form-field class="genericWhiteFormField accountSelector" [@fade]="_CbEventService.ANIMATIONS.language.state">
      <mat-select placeholder="{{'MENU_TOP.SELECTOR.PLACEHOLDER' | translate: lang}}" [disabled]="ACCOUNTS.length === 0"
        [value]="selectedAccount" matTooltip="{{'MENU_TOP.SELECTOR.TOOLTIP' | translate: lang}}"
        [matTooltipDisabled]="ACCOUNTS.length !== 0">
        <mat-option *ngFor="let account of ACCOUNTS" [value]="account">
          {{ account.EXCHANGE }}
        </mat-option>
        <mat-option *ngIf="ACCOUNTS.length > 1" [value]="selectGlobal">
          {{ 'MENU_TOP.SELECTOR.SELECT_ALL' | translate: lang }}
        </mat-option>
        <mat-option *ngIf="ACCOUNTS.length === 0" [value]="selectNone">
          {{ 'MENU_TOP.SELECTOR.NOT_SET' | translate: lang }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" class="middle-right-nav">
    <!-- <mat-button-toggle-group #group="matButtonToggleGroup" class="lang-select" [value]="lang">
      <mat-button-toggle value="lang" disabled>
        <mat-icon>translate</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="en" (click)="selectLocale('en', 'en_US', 'USD')">
        EN
      </mat-button-toggle>
      <mat-button-toggle value="fr" (click)="selectLocale('fr', 'fr_FR', 'EUR')">
        FR
      </mat-button-toggle>
    </mat-button-toggle-group> -->
  </div>
  <div class="right-nav">
    <img src="/src/assets/images/img_avatar.png" style="max-width:37px;max-height:37px; margin-left: 15px;">
    <button mat-button [matMenuTriggerFor]="menu">
      {{ _CbStorageService.getUserFullName() }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="account()">
        <mat-icon>person</mat-icon>
        <span>{{ 'MENU_TOP.RIGHT.ACCOUNT' | translate: lang }}</span>
      </button>
      <button mat-menu-item (click)="exchangeAccounts()">
        <mat-icon>recent_actors</mat-icon>
        <span>{{ 'MENU_TOP.RIGHT.EXCHANGES' | translate: lang }}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>{{ 'MENU_TOP.RIGHT.LOG_OUT' | translate: lang }}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
