.top-nav {
    color: white;
    background-color: var(--back-color);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 0px;
}

.middle-left-nav {
    display: flex;
    align-items: center;
}

.middle-right-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    /* padding: 10px; */
    height: 100%;
}

.current-lang:hover {
    background-color: rgb(202, 202, 202);
}

button {
  min-width: 130px;
  margin-right: 15px;
}

.accountSelector {
    margin-left: 140px;
    font-size: small;
    height: 40px;
}

.languageGroup {
    border-radius: 0px;
    height: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 20px;
    box-shadow: none;
}
