<mat-toolbar class="top-nav" color="primary">
  <div class="left-nav">
    <span>{{ 'APP_NAME'| translate: lang }}</span>
  </div>
  <div class="middle-nav" fxFlex>
    <mat-form-field class="exchangeSelector"  [@fade]="anim.language.state">
      <mat-select placeholder="{{'MENU_TOP.SELECTOR.PLACEHOLDER' | translate: lang}}" [disabled]="exchanges.length === 0" [(value)]="selectedExchange"
      matTooltip="{{'MENU_TOP.SELECTOR.TOOLTIP' | translate: lang}}" [matTooltipDisabled]="exchanges.length !== 0">
        <mat-option *ngFor="let exchange of exchanges" [value]="exchange.key">
          {{ exchange.label }}
        </mat-option>
        <mat-option *ngIf="exchanges.length > 1" [value]="selectGlobal">
          {{ 'MENU_TOP.SELECTOR.SELECT_ALL' | translate: lang }}
        </mat-option>
        <mat-option *ngIf="exchanges.length === 0" [value]="selectNone">
          {{ 'MENU_TOP.SELECTOR.NOT_SET' | translate: lang }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" class="right-nav">
    <!-- <mat-nav-list class="lang-select" *ngIf="selectLang">
      <a mat-list-item [ngClass]="{'current-lang': lang === 'en'}" (click)="selectLocale('en', 'en_US', 'USD')">EN</a>
      <a mat-list-item [ngClass]="{'current-lang': lang === 'fr'}" (click)="selectLocale('fr', 'fr_FR', 'EUR')">FR</a>
    </mat-nav-list> (click)="selectLocale('fr', 'fr_FR', 'EUR')" -->
    <mat-button-toggle-group #group="matButtonToggleGroup" class="lang-select" [value]="lang">
      <mat-button-toggle value="lang" disabled>
        <mat-icon>translate</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="en" (click)="selectLocale('en', 'en_US', 'USD')">
        EN
      </mat-button-toggle>
      <mat-button-toggle value="fr" (click)="selectLocale('fr', 'fr_FR', 'EUR')">
        FR
      </mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-icon-button (click)="logout()">
      <mat-icon aria-label="Log out">power_settings_new</mat-icon>
    </button>
  </div>
</mat-toolbar>
