<div class="connection" fxLayout="row">
  <div class="left-connection" fxFlex="59%;" fxLayout="column">
    <div class="left-header" fxFlex="20%">
    </div>
    <div class="left-content" fxFlex="65%">
      <h2>CryptoBo4rd</h2>
      <div>
        <h2 class="description-header">{{'CONNECTION.TITLE' | translate: lang}}</h2>
        <p class="description-para">{{'CONNECTION.DESCRIPTION' | translate: lang}}</p>
      </div>
      <button mat-raised-button class="change-btn" (click)="changeForm()">
        <span [@fade]="anim.login.state" [@fade]="anim.language.state">
          {{changeButton}}
        </span>
      </button>
    </div>
    <div class="left-footer" fxFlex="15%">
    </div>
  </div>
  <div class="right-connection" fxFlex="41%;" fxLayout="column">
    <div class="right-header" fxFlex="25%">
      <mat-nav-list>
        <a mat-list-item href="#" (click)="selectLocale('en', 'en_US', 'USD')">EN</a>
        <a mat-list-item href="#" (click)="selectLocale('fr', 'fr_FR', 'EUR')">FR</a>
      </mat-nav-list>
    </div>
    <div class="right-content" fxFlex="60%">
      <div class="form-wrapper" [@fade]="anim.language.state" [@fade]="anim.login.state">
        <div *ngIf="register" fxLayout="column">
          <h2 class="form-header">{{ 'CONNECTION.REGISTER.TITLE' | translate:lang }}</h2>
          <mat-form-field class="genericWhiteFormField">
            <input matInput [placeholder]="'CONNECTION.REGISTER.USERNAME' | translate:lang" [(ngModel)]="REGISTER.LOGIN">
          </mat-form-field>
          <mat-form-field class="genericWhiteFormField">
            <input matInput [placeholder]="'CONNECTION.REGISTER.MAIL' | translate:lang" [(ngModel)]="REGISTER.MAIL">
          </mat-form-field>
          <mat-form-field class="genericWhiteFormField">
            <input matInput type="password" [placeholder]="'CONNECTION.REGISTER.PASSWORD' | translate:lang" [(ngModel)]="REGISTER.PASSWORD">
          </mat-form-field>
          <mat-form-field class="genericWhiteFormField">
            <input matInput type="password" [placeholder]="'CONNECTION.REGISTER.REPEAT_PASSWORD' | translate:lang"  [(ngModel)]="REGISTER.REPEAT_PASSWORD">
          </mat-form-field>
          <button mat-raised-button class="form-btn" (click)="doRegister()">{{ 'CONNECTION.REGISTER.BUTTON' | translate:lang
            }}
          </button>
        </div>
        <!-- LOGIN FORM -->
        <div *ngIf="!register" [@fade]="anim.language.state" fxLayout="column">
          <h2 class="form-header">{{ 'CONNECTION.LOGIN.TITLE' | translate:lang }}</h2>
          <mat-form-field class="genericWhiteFormField">
            <input matInput [(ngModel)]="LOGIN.IDENTIFIER" [placeholder]="('CONNECTION.LOGIN.MAIL' | translate: lang) + ' / ' + ('CONNECTION.LOGIN.USERNAME' | translate: lang)">
          </mat-form-field>
          <mat-form-field class="genericWhiteFormField">
            <input matInput type="password" [(ngModel)]="LOGIN.PASSWORD" [placeholder]="'CONNECTION.LOGIN.PASSWORD' | translate:lang">
          </mat-form-field>
          <button mat-raised-button class="form-btn" (click)="doLogin()">{{ 'CONNECTION.LOGIN.BUTTON' | translate:lang }}</button>
        </div>
      </div>
      <div *ngIf="ERROR_MESSAGE !== ''" class="errorMsg">
        {{ ERROR_MESSAGE }}
      </div>
    </div>
    <div class="right-footer" fxFlex="15%"></div>
  </div>
</div>
