.connection {}

h2 {
    font-weight: 350;
    color: white;
    font-size: 2.625rem;
    margin-bottom: 20px;
}

.left-connection {
  /* background-color: #1e272e; */
  background-color: #3d607a;
  height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.description-header {
    color: rgb(189, 189, 189);
    opacity: 1;
    font-weight: 300;
    margin: 0 !important;
    font-size: 1.5rem;
    line-height: 1.4;
}

.description-para {
    font-size: 0.875rem;
    line-height: 1.5;
    color: #666;
}

.change-btn {
    min-width: 200px;
    margin-top: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.right-connection {
    padding-left: 40px;
    background-color: #333335;
    height: 100vh;
}

.lang-selector {
    background-color: white;
}

.mat-nav-list {
    margin-right: 10px;
}

.mat-list-item {
    height: 30px;
    margin-left: 3px;
    color: white;
    float: right;
}

.mat-list-item:hover {
    background-color: white;
    color: #27ae60;
    float: right;
}

.form-wrapper {
    padding: 40px;
}

.form-header {
    font-weight: 300;
    color: white;
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0 0 20px 0;
}

.form-btn {
    background-color: white;
    color: #27ae60;
}

.mat-input-element {
    color: white;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0px 1000px #0000 inset;
  transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}

.errorMsg {
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: lighter;
}

mat-button-toggle-group {
  float: right;
  border-radius: 0px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
}

.mat-button-toggle-checked {
  color: #2e2e38 !important;
  background-color: rgb(238, 238, 238);
}

mat-button-toggle {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 14px;
  color: rgb(238, 238, 238);
  background-color: #2e2e38;
}
