.wrapper {
  padding: 10px;
}

h3 {
  margin-top: 0px;
}

app-cb-dashboard-table {
  margin: 0px 10px 0px 10px;
}

.tile {
  /* margin: 10px; */
  margin: 0px 10px 0px 10px;
  background-color: rgb(238, 238, 238);
}

.kpi {
  min-width: 0;
  flex: 1;
  height: 200px;
  background-color: rgba(238, 238, 238, 0) !important;
}

.widget {
  padding: 10px;
  height: 340px;
}

.bottom {
  margin-top: 10px;
}

#chart-container {
  width: 100%;
  height: 400px;
}

#chart-container-2 {
  width: 100%;
  height: 400px;
}
