<div class="wrapper">
  <app-cb-message-template *ngIf="NO_EXCHANGE" [MESSAGE]="EMPTY"></app-cb-message-template>
  <div fxLayout="column">
    <div class="top" fxLayout="row">
      <app-cb-dashboard-pie fxFlex [CONFIG]="PIE_CONFIG" *ngIf="READY.PIE"></app-cb-dashboard-pie>
      <div class="tile" fxFlex></div>
    </div>
    <div class="bottom" fxLayout="row">
      <app-cb-dashboard-graph fxFlex [CONFIG]="GRAPH_CONFIG" *ngIf="READY.GRAPH"></app-cb-dashboard-graph>
      <app-cb-dashboard-table fxFlex [CONFIG]="TABLE_CONFIG" *ngIf="READY.TABLE"></app-cb-dashboard-table>
      <!-- <div id="chart-container-2"></div> -->
    </div>
  </div>
</div>
